<div class="card border-3 shadow">
    <img class="card-img-top" src="<%=teaserImgs[journey.id]%>" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title"><%=journey.name%></h4>
        <div class="card-text text-black-50">
            <div><strong><%=journey.startDate%> - <%=journey.endDate%></strong></div>
            <p>
                <%=journey.teaserText%>
            </p>
        </div>
    </div>
    <div class="card-footer">
        <div class="">
            <a href="/map/<%=journey._id%>" class="btn btn-primary">Karte</a>
            <% if(isAdmin){ %>
                <a href="/form/<%=journey._id%>" class="btn btn-secondary">Bearbeiten</a>
            <% } %>
        </div>
    </div>
</div>
