<div id="<%=markerId%>">
    <div id="iw-container">
        <!-- <div class="infoWindowButtonClose"></div> -->
        <div id="iw-content">
            <img class="iw-prev-img" src="<%=rndImgPath%>"> 
        </div>
        <div class="iw-title"><%=waypoint%></div>
        <div class="iw-subTitle">Day <%=arrivalDate%></div>
        <div class="iw-button"> 
            <button class="iw-view-gallery-btn" onclick="openModal('<%=waypoint%>','<%=journeyName%>')">View Album</button>
        </div>
    </div>
</div>