<%- include ('partials/head') %>
<body> 
    <div class="container">

        <div class="jumbotron">
            <%if(mode === "create"){%>
                <h1 class="display-4">Neuen Urlaub anlegen</h1>
            <%}else{%>
                <h1 class="display-4">Urlaub bearbeiten</h1>
            <%}%>
        </div>
        <div class="row pb-3">
            <div class="col">
                <a href="/" class="btn btn-sm btn-primary">Back to overview</a>
            </div>
        </div>
        <!-- Content here -->
        <div class="row">
            <div class="col">
                <form class="needs-validation" novalidate>

                    <div class="row">
                        <div class="col my-2">
                            <label for="journeyName">Name</label>
                            <input type="text" class="form-control" name="journeyName" value="<%=journey.name%>" required>
                            <div class="invalid-feedback">Reise-Titel fehlt</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col my-2">
                            <label for="teaserText">Teaser Text</label>
                            <textarea type="text" class="form-control" name="teaserText" value="" required></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col my-2"">
                            
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" onclick="switchToSingleEntry()" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Einzeln</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="switchToCPEntry()" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Copy & Paste</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                                    <div class="row">
                                        <div class="col mt-3 mb-2">
                                            <label for="inlineFormInputGroupUsername2">Wegpunkte</label>
                                        <div class="float-right" role="group">
                                            <button onclick="reverseWayopointList()" type="button" class="btn btn-primary btn-icon mr-2">
                                                <i class="fa fa-sort"></i>
                                            </button>
                                            
                                            <button onclick="addWaypointRow()" type="button" class="btn btn-primary btn-icon">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        </div>
                                    </div>
                                    <div id="waypointList">
                                        <% journey.waypoints.forEach(function(waypoint){ %>
                                            <%-include('partials/waypointRow', {waypoint}) %>
                                        <%});
                                        if(mode === "create"){%>
                                            <%-include('partials/waypointRow', {waypoint: []}) %>
                                        <%} %>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col my-2">
                                            <%if(mode === "create"){%>
                                                <button type="button" onclick="submitForm('create')" class="btn btn-primary">Erstellen</button>
                                            <%}else{%>
                                                <button type="button" onclick="submitForm('edit', '<%=journey._id%>')" class="btn btn-primary">Update</button>
                                                <button type="button" onclick="" class="btn btn-danger" data-toggle="modal" data-target="#yesNoModal">Löschen</button>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col my-2">
                                            <div class="alert alert-success alert-dismissible hidden" >
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>Success!</strong> This alert box could indicate a successful or positive action.
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col mt-3 mb-2"">
                                            <label for="inlineFormInputGroupUsername2">Wegpunkte</label>
                                            <textarea disabled="true" class="form-control" id="cpTextarea" rows="5" name="cpTextarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col my-2">
                                            <button type="button" onclick="readData()" class="btn btn-primary">Daten einlesen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> 
                    

                </form>
            </div>
  
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="yesNoModal" tabindex="-1" role="dialog" aria-labelledby="yesNoModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sicherheitsabfrage</h5>
                </div>
                <div class="modal-body">
                    Soll die Reise wirklich gelöscht werden ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="deleteJourney('<%=journey._id%>')">Ja</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/form.js"></script>
</body> 
  
</html>  